/*BIG TABLET TO 1200PX (WIDTH SMALLER THAN THE 1140 PX ROWS) */
@media only screen and (max-width:1200px) {
    table {
        margin: auto
    }

    .left {
        max-width: 300px;
        margin: auto;
    }

    li {
        text-align: center;
    }
}

/*SMALL PHONES TO SMALL TABLETS (IPAD-PHONES)-481 TO 767PX PIXELS*/
@media only screen and (max-width:767px) {

    .title {
        text-align: center
    }

    .smart-table thead {
        display: none;

    }

    .smart-table tr,
    .smart-table td {
        display: block;
        text-align: center;

    }

    .smart-table td {
        padding-left: 50%;
        position: relative;

    }

    .smart-table tr:nth-child(n-1) {
        border: 5px solid #E5E5E5
    }

    .smart-table td::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 55%;
        content: attr(data-col-title);
        padding: 10px 0px;
    }

    table {
        width: 100%;
        text-align: center;
        margin: auto
    }

    .modal-content {
        width: 746px;
        height: 280px;
        max-width: 250px

    }

    h1 {
  
    font-size: 26px;
    line-height: 37px;
    }
}
